<launch>
    <!-- start base and load model -->
    <include file="$(find hunter_base)/launch/hunter_base.launch">
        <arg name="port_name" default="can0" />
        <arg name="simulated_robot" default="false" />
        <arg name="publish_tf" default="true" />
    </include>

    <!-- launch joy teleop -->
    <include file="$(find hunter_bringup)/launch/hunter_joy_teleop.launch" />

    <!-- launch imu -->
    <include file="$(find hunter_bringup)/launch/imu/phidgets_spatial_333_imu.launch" />

    <!-- launch gps, nmea_navsat_driver and robot localisation navsat transform -->
    <!--<include file="$(find hunter_bringup)/launch/gps/ublox_zed_f9k.launch" />-->

    <!-- launch RTK data stream -->
    <!-- needs neotic / python3 rtk packages -->
    <!--<include file="$(find ntrip_ros)/launch/ntrip_ros.launch" />-->
    
    <!-- launch local ekf localisation -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local">
        <rosparam command="load" file="$(find hunter_bringup)/config/ekf_local.yaml" />
    </node>
</launch>
