<?xml version="1.0"?>
<launch>
    <arg name="manager" /> <!-- Must be globally qualified -->
    <arg name="respawn" default="false" />

    <arg     if="$(arg respawn)" name="bond" value="" />
    <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

    <!-- Color rectified image -->
    <node name="rectify_color_front" pkg="nodelet" type="nodelet" args="standalone image_proc/rectify" output="screen">
        <remap from="image_mono" to="/zed_multi/zed2_front/zed_nodelet_front/left/image_rect_color" />
        <remap from="image_rect" to="image_rect_color_front" />
    </node>

    <node name="rectify_color_rear" pkg="nodelet" type="nodelet" args="standalone image_proc/rectify" output="screen">
        <remap from="image_mono" to="/zed_multi/zed2_rear/zed_nodelet_rear/left/image_rect_color" />
        <remap from="image_rect" to="image_rect_color_rear" />
    </node>

    <!-- reduce resolution of zed camera images -->
    <node name="resized_image_front" pkg="nodelet" type="nodelet" args="standalone image_proc/resize" output="screen">
        <remap from="image" to="/zed_multi/zed2_front/zed_nodelet_front/left/image_rect_color" />
        <remap from="camera_info" to="/zed_multi/zed2_rear/zed_nodelet_front/rgb/camera_info" />
        <param name="scale_width" value="0.5" />
        <param name="scale_height" value="0.5" />
    </node>

    <node name="resized_image_rear" pkg="nodelet" type="nodelet" args="standalone image_proc/resize" output="screen">
        <remap from="image" to="/zed_multi/zed2_rear/zed_nodelet_rear/left/image_rect_color" />
        <remap from="camera_info" to="/zed_multi/zed2_rear/zed_nodelet_rear/rgb/camera_info" />
        <param name="scale_width" value="0.5" />
        <param name="scale_height" value="0.5" />
    </node>

</launch>